@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "WebGrid Display");

    //reteive the passed data value
    //to retreive the passed data use .QueryString["label"]
    //data is returned as a string
    var cid = Request.QueryString["cid"];

    //good practice
    //check that you actually retreived data
    if (string.IsNullOrEmpty(cid))
    {
        Response.Redirect("MultiRecordQuery.cshtml");
    }

    //use data to lookup products
    var db = Database.Open("NWDB");
    var prodquery = @"SELECT ProductID, ProductName, UnitPrice, UnitsInStock, Discontinued
                        FROM Products 
                        WHERE CategoryID = @0
                        ORDER BY ProductName";
    var prodinfo = db.Query(prodquery, cid);

    //use data to get category name for display heading
    //yes: you could have passed the category name with the category id
    //demonstration of using .QueryValue()
    var catquery = @"SELECT CategoryName
                    FROM Categories
                    WHERE CategoryID = @0";
    var catname = db.QueryValue(catquery, cid);

    //setup display to use the class WebGrid
    //assign the display data to the instance when it is created
    //to alter the number of rows display by the WebGrid instance,
    //   you need to specify the value when you first create the instance
    //   syntax attribute --> rowsPerPage:value
    var gridinstance = new WebGrid(prodinfo, rowsPerPage:5);
}


@section banner {
    <h1>WebGrid Display</h1>
}
<div class="offset-1">
    <h3>Products for Category: @catname</h3>
    <div class="col-11">
        @gridinstance.GetHtml(
            tableStyle:"table table-striped table-bordered table-hover",
            mode: WebGridPagerModes.All,
            firstText: "Start",
            lastText: "End",
            columns: gridinstance.Columns(
               gridinstance.Column(columnName: "ProductID", header: "ID"),
               gridinstance.Column(columnName: "ProductName", header: "Name"),
               gridinstance.Column(columnName: "UnitPrice", header: "$", canSort: false,
                    format: (item) => item.UnitPrice.ToString("0.00")),
               gridinstance.Column(columnName: "UnitsInStock", header: "QoH", canSort: false),
               gridinstance.Column(columnName: "Discontinued", header: "Disc", canSort: false,
                    format:@<input type="checkbox" id="Discontinued"
                                   name="Discontinued" disabled="disabled"
                                   value="@item.Discontinued"
                                   @(item.Discontinued == true ? "Checked" : "")/>),
               gridinstance.Column(header:"", canSort:false,
                    format:@<text>
                            <a href="~/SamplePages/WebGridDestination.cshtml?pid=@item.ProductID"
                               onclick="return confirm('Are you sure you wish to view @item.ProductName ?')">View</a>
                            </text>)
                ))
    </div>
</div>
